.chapterIllustration {
  display: none;
}

.chapterIllustration img {
  width: calc(100% - 2rem);
  height: auto;
  display: block;
}

.caption {
  display: block;
  font-size: .85rem;
  margin-top: 1rem;
}

.chapterTxt img {
  width: calc(100% + 3rem);
  height: auto;
  margin-left: -1.5rem;
  margin-right: -1.5rem
}

.moreCaption {
  display: none;
}

.openCaption {
  float: right;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .chapterIllustration {
    z-index: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorGreyLightBg;
    left: 0;
    top: 0;
    width: $sideBarWith;
    height: 100vh;
  }
  .chapterTxt .caption {
    display: none;
  }

  .chapterTxt img {
    width: 50px;
    height: auto;
    float: left;
    margin-left: -75px;
    cursor: pointer;
  }

  .moreCaption {
    display: flex;
  }
  .openCaption {
    display: none;
  }
}
