.pageHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $colorNMGNBlue1;
  justify-content: space-between;
  align-items: center;
  font-size: .85rem;
  color: #fff;
  position: relative;
  z-index: 200;
}
.pageHeader a{
  color: #fff;
}


@media (min-width: 600px) {
  .pageHeader {
    flex-direction: row;
    font-size: 1rem;
    height: 50px;
  }

}

.headerItems > * {
  margin-left: .5rem;
  padding-left: .5rem;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.headerItem:first-child {
  margin-left: 0rem;
}
