@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Andada");
html,
body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0 0 0 1em; }

a {
  text-decoration: none; }

ul ul {
  margin: 0 0 0 1em; }

ul ul ul {
  margin: 0 0 0 2em; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
  color: #3e3e3e; }

h1 {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 700;
  font-family: 'Andada', serif; }

h2 {
  font-size: 1.3rem;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 1rem;
  line-height: 130%;
  font-weight: 700; }

h4 {
  font-size: 1rem;
  line-height: 130%;
  font-weight: 700;
  display: inline; }

@media (min-width: 600px) {
  body {
    line-height: 150%; }
  h1, h2, h3, h4 {
    line-height: 150%; } }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em; }

p {
  margin-top: 0;
  margin-bottom: 1em; }

strong {
  font-weight: 700; }

.temp-layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }

.temp-nav {
  box-sizing: border-box; }

.temp-content {
  box-sizing: border-box; }

.temp-width {
  padding: 2em;
  max-width: 700px;
  width: 100%; }

nav {
  display: flex;
  flex-direction: column; }

table {
  display: none; }

td {
  padding: 0 .5em; }

.Bijschrift {
  font-size: .8em;
  color: #afafaf; }

.txt {
  display: block;
  max-width: 600px; }

.txt p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.txt img {
  width: 50px;
  height: auto; }

.Superscript {
  display: inline-block; }

.Superscript a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
  text-decoration: none; }

.pageHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0d77c9;
  justify-content: space-between;
  font-size: .85rem;
  color: #fff;
  position: relative;
  z-index: 200; }

.pageHeader a {
  color: #fff; }

@media (min-width: 600px) {
  .pageHeader {
    flex-direction: row;
    font-size: 1rem; } }

.headerItems > * {
  margin-left: 1rem; }

.headerItem:first-child {
  margin-left: 0rem; }

.titleHeroBG {
  width: 100vw;
  height: 70vh;
  background-color: #448ccb;
  position: absolute;
  z-index: 0;
  top: -4vh;
  left: 0;
  box-sizing: content-box;
  transform: skewY(2deg); }

.titleHero {
  width: 100vw;
  height: 66vh;
  color: #ffffff;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

@media (min-width: 1000px) {
  .titleHero {
    margin-bottom: 3rem; } }

.titleHero h1 {
  color: #2effdf;
  font-size: 36px;
  font-size: 5.4vw; }

.chapterIllustration {
  display: none; }

@media (min-width: 1000px) {
  .chapterIllustration {
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f2;
    right: 0;
    top: 0;
    width: 33vw;
    height: 100vh; } }

.illu img {
  width: 25vw;
  height: auto;
  display: block; }

.caption {
  display: block;
  font-size: .85rem;
  width: 25vw; }

.basicWrapper {
  width: 100%;
  max-width: 1200px; }

.chapterTxt {
  width: 100%;
  max-width: 600px;
  display: block; }

.chapterTxt img {
  width: 75px;
  height: auto; }

@media (min-width: 1000px) {
  .chapterTxtWrap {
    width: 66vw;
    display: flex;
    flex-direction: column;
    align-items: center; } }

* {
  box-sizing: border-box; }

a {
  color: #0087d4; }

.basicSideMargin {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.noot {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #bebdbd;
  width: 25px;
  height: 25px;
  font-size: .8rem;
  border-radius: 50%; }

.noot span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.noot a {
  color: #bebdbd;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translate(0px, -2px); }
