@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,700");
@import url("https://fonts.googleapis.com/css?family=Andada");
html,
body {
  padding: 0;
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0 0 0 1em; }

a {
  text-decoration: none; }

ul ul {
  margin: 0 0 0 1em; }

ul ul ul {
  margin: 0 0 0 2em; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
  color: #3e3e3e; }

h1 {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 700;
  font-family: 'Andada', serif; }

h2 {
  font-size: 1.3rem;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 1rem;
  line-height: 130%;
  font-weight: 700; }

h4 {
  font-size: 1rem;
  line-height: 130%;
  font-weight: 700;
  display: inline; }

@media (min-width: 600px) {
  body {
    line-height: 150%; }
  h1, h2, h3, h4 {
    line-height: 150%; } }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em; }

p {
  margin-top: 0;
  margin-bottom: 1em; }

strong {
  font-weight: 700; }

.temp-layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }

.temp-nav {
  box-sizing: border-box; }

.temp-content {
  box-sizing: border-box; }

.temp-width {
  padding: 2em;
  max-width: 700px;
  width: 100%; }

nav {
  display: flex;
  flex-direction: column; }

td {
  padding: 0 .5em; }

.Bijschrift {
  font-size: .8em;
  color: #afafaf; }

.txt {
  display: block;
  max-width: 600px; }

.txt p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.txt img {
  width: 50px;
  height: auto; }

.Superscript {
  display: inline-block; }

.Superscript a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
  text-decoration: none; }
