body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 140%; }

.temp-layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.temp-nav {
  width: 100vw;
  background-color: #f0f0f0;
  padding: 2em;
  box-sizing: border-box; }

.temp-content {
  width: 100vw;
  padding: 2em;
  box-sizing: border-box; }

@media (min-width: 500px) {
  .temp-layout {
    flex-direction: row; }
  .temp-nav {
    width: 250px; }
  .temp-content {
    width: calc(100vw - 250px); } }

nav {
  display: flex;
  flex-direction: column; }

td {
  padding: 0 .5em; }

.Bijschrift {
  font-size: .8em;
  color: #afafaf; }

.txt {
  display: block;
  max-width: 600px; }

.txt p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.Basic-Graphics-Frame img {
  width: 50px;
  height: auto; }

.Superscript {
  display: inline-block; }

.Superscript a {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
  text-decoration: none; }
