{{> html-head}}
{{> page-header}}

<div class="basicWrapper">
  <div class="titleHero basicSideMargin basicSiteMax">

      <div>{{aera}}</div>
      <div>{{parttitle}}</div>
      <h1>{{title}}</h1>
      <div class="">{{author}}</div>

  </div>
</div>

<div class="titleHeroBG"></div>

<div class="chapterContent">
  {{> page-illustration}}
  <div class="chapterTxtWrap">
    <div class="chapterNav">
      Inhoud
      <div id="subNavigation"></div>
    </div>
    <div class="chapterTxt basicSideMargin">
      {{> (lookup . 'content') }}
    </div>
    <div class="noteAside" id="showNote">%%%%</div>
    <div class="footer">{{> nav}}</div>
  </div>

</div>



{{> html-foot}}
