{{> html-head}}
{{> page-header}}


<div class="titleHero basicSideMargin basicWrapper">

    <div>{{aera}}</div>
    <div>{{parttitle}}</div>
    <h1>{{title}}</h1>
    <div class="">{{author}}</div>

</div>
<div class="titleHeroBG"></div>

<div class="chapterContent">
  <div class="chapterTxtWrap">
    <div class="chapterTxt basicSideMargin">
      {{> (lookup . 'content') }}
    </div>
  </div>
  {{> page-illustration}}

</div>


  <div class="">{{> nav}}</div>
  <div id="subNavigation"></div>



{{> html-foot}}
