{{> html-head}}

    <div class="mgSite mgFixed">


<!-- underlayer with fixed image bar -->
      <div class="mgWrapper">
        <div class="mgBar1 mgFigure helpColor1">
          <div class="mgFigureWrap">
            <img src="images/d3h7/d3h7-600/26_Apol_L._Panorama_Nova_Zembla.jpg" class="temp">
            <div class="mgCaption">
              <h3>Mappa Mundi</h3>
                Op deze grootst bekende middeleeuwse ‘radkaart’ (163 x 137 cm) ligt het oosten boven en Jeruzalem in het midden als centrum van de wereld. Het land is gevuld met fabeldieren en monsters en omgeven door zeeën waarvan de Rode Zee rood is ingekleurd. De oceanen rond de aarde zijn slechts summier aangegeven, die maken geen deel uit van de bewoonde wereld.
                Perkament, de kaart is ondertekend door Richard van Haldingham en Lafford, ca. 1300.<br>

                Hereford Cathedral, Hereford.
            </div>
          </div>
        </div>
        <div class="mgBar2"></div>
      </div>
    </div>


  <div class="mgSite mgOverlay">
    <div class="mgHero">
      <h1>Maritieme cultuur<br>in de middeleeuwen</h1>
      <div class="mgWrapper ">
        <div class="mgBar1 helpColor1"></div>
        <div class="mgBar2 helpColor2"></div> <!-- bar2  -->
      </div> <!-- wrapp  -->
    </div> <!-- hero  -->



    <div class="mgGreenBG"></div>


    <!-- Content -->
      <div class="mgWrapper helpColor3 mgContent">
        <div class="mgBar1 helpColor1">
          <br><br>
          Inhoud<br>
          Stormvloeden<br>
          De zeereis van Sint Brandaan<br>
          Nog meer varende heiligen<br>
          Schip als metafoor<br>
          Maritieme identiteit<br>
          Noten<br>
        </div>
        <div class="mgBar2 helpColor2 mgTxtBg">
          <div class="mgText"> {{> (lookup . 'content') }} </div>
        </div> <!-- bar2  -->
      </div> <!-- wrapp  -->
  </div> <!-- site  -->


{{> html-foot}}
