{{> html-head}}

    <div class="mgSite">

      <div class="mgWrapper mgFixed">
        <div class="mgBar1">
          <img src="images/d3h7/d3h7-600/26_Apol_L._Panorama_Nova_Zembla.jpg" class="temp">
        </div>
        <div class="mgBar2"></div>
      </div>




      <div class="mgWrapper">
        <div class="mgBar1"></div>
        <div class="mgBar2">
          <div class="mgText"> {{> (lookup . 'content') }} </div>
        </div>
      </div>


      </div>
    </div>

<!-- <div class="mgImageBar"><img src="images/d3h7/d3h7-600/26_Apol_L._Panorama_Nova_Zembla.jpg" class="temp"></div> -->
{{> html-foot}}
