{{> html-head}}

<div class="mgSite2">

  <div class="mgHero"></div>
  <div class="mgHomeIntro">
    {{> logo_NMGN}}
    <p><strong>Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf. Bij afbeeldingen van schepen vragen zij zich in de eerste plaats af welke informatie een tekening of schilderij biedt over uiterlijk, bouwwijze en andere technische eigenschappen.</strong></p>
  </div>
  <div class="mgHomeImage"><img src="images/homeFleet.jpg" alt="vloot"></div>
  <div class="mgChapterList">{{> homeContentList}}

  </div>
  <div class="mgHeaderBg"></div>
  <div class="mgHeader">
    {{> page-header-new}}
  </div>



</div>

{{> popNavigation}}



{{> html-foot}}
