{{#each items}}
    {{#if ischapterpage}}
    <div class="mgHomePart">
      <strong>Deel {{part}}</strong>
      <h2>{{parttitle}} </h2>
      <span class="notStrong">{{aera}}</span><br>

      <em>Redactie: {{redactie}}</em><br>
      <span>ISBN: {{partisbn}}</span>
    </div>
    {{/if}}

    {{#if in_navigatie}}
      {{#if homelist}}
      <a href="{{name}}.html" alt="Ga naar {{title}}">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/{{image}}" class="mgHomeChapterImg">{{chapter}} <strong>{{title}}</strong> <br><em>{{author}}</em><br>
          {{summary}}<br>
          <em>Ga naar {{title}}</em>
        </article>
      </a>
    {{/if}}
  {{/if}}
{{/each}}
