{{> html-head}}

<main class="mgSite2">

  <div class="mgHero"></div>
  <div class="mgHomeIntro">
    {{> logo_NMGN}}

    <p>Nederland is gevormd door het water. Vanaf de twaalfde eeuw nam het belang van de scheepvaart toe. Dat begon met het vervoer van mensen en goederen over binnenwateren en breidde zich dankzij nieuwe technieken uit naar de kusten van Europa en uiteindelijk de wereldzeeën.</p>
    <p><strong>De Nieuwe Maritieme Geschiedenis van Nederland laat in woord en beeld zien hoe de verschillende scheepvaartsectoren zich sinds de late middeleeuwen hebben ontwikkeld. Dat verhaal gaat over de binnenvaart, maar ook over de visserij, de koopvaardij, de marine en de recente offshore activiteiten op zee.</strong></p>
    <p>Maritieme geschiedenis gaat niet alleen over de bouw en het gebruik van schepen in de zeil-, stoom- en motorvaart, maar ook over mensen in ondernemingen die de scheepvaart organiseerden en bemanningen aan boord. Scheepvaart heeft tevens een stempel gedrukt op de Nederlandse cultuur van de schilderkust tot aan woorden en uitdrukkingen in onze taal. Ook dat komt in dit vierdelige standaardwerk aan bod.</p>



    <p>Deze site is in aanbouw &#128736;</p>
  </div>
  <div class="mgHomeImage"><img src="images/homeFleet.jpg" alt="vloot"></div>
  <div class="mgChapterList">
    {{> homeContentList}}

    <br><br><br>

    <h2>Partners</h2>
    {{> page-partners}}

  </div>

  <div class="mgHeaderBg"></div>
  <div class="mgHeader">
    {{> page-header-new}}
  </div>


</main>
{{> page-footer}}
{{> popNavigation}}
{{> html-foot}}
