{{#each items}}


    {{#if ischapterpage}}
    <div class="mgHomePart">
      <strong>Deel {{part}}</strong>
      <h2>{{parttitle}}</h2>
      <span>{{aera}}</span>
    </div>
    {{/if}}

    {{#if in_navigatie}}
      {{#if homelist}}
      <a href="{{name}}.html">
        <div class="mgHomeChapter">
           <img src="images/chapterImages/{{image}}" class="mgHomeChapterImg">{{chapter}} <strong>{{title}}</strong> <br><em>{{author}}</em><br>
          {{summary}}<br>
          <em>Ga naar {{title}}</em>
        </div>
      </a>
    {{/if}}
  {{/if}}
{{/each}}
