{{> html-head}}






<main class="mgSite">

  <div class="mgHero">
    <h1>{{title}}</h1>
  </div>
  <div class="mgHeroInfo">
    <div class="mgHeroInfoDeel">

    </div>
    <div class="mgHeroInfoMid"></div>
    <div class="mgHeroInfoAuteur"></div>

  </div>
  <div class="mgHeroImg">
    <div class="mgHeroImgContent"></div>
  </div>

  <div class="mgHeaderBg"></div>
  <div class="mgHeader">
    {{> page-header-new}}
  </div>


  <div class="mgContentListBg"></div>
  <div class="mgContentList">
    <nav id="subNavigation"></nav>
  </div>
  <div class="mgContent">
    <div class="mgContentTxt" id="theContent">
      <div class="locaRight" id="loca"> </div>
      {{> (lookup . 'content') }}

      {{> page-partners}}
    </div>


  </div>

</main>







{{> page-footer}}
{{> popNavigation}}
{{> html-foot}}
