{{> html-head}}
{{> page-header}}




      <h1>{{title}}</h1>



{{> page-zoom}}

<div id="chaperId" style="display: none;">{{id}}</div>
<script src="js/search_index.js"></script>
<script src="js/elasticlunr.min.js"></script>
<script type="text/javascript">

console.log(indexDump);


var index = elasticlunr.Index.load(indexDump);
let result = index.search("Columbus");
console.log(result[0].doc.title);
console.log(result[0].doc.ref);


var urlParams = new URLSearchParams(window.location.search);

console.log(urlParams.has('post')); // true
console.log(urlParams.get('q')); // "edit"



</script>
