{{> html-head}}
{{> page-header}}

<div class="basicPageWrapper">
  <div class="basicPage">
    <h1>{{title}}</h1>
    <input type="text" name="searchTerm" value="columbus" id="searchTerm"><button type="button" name="button" onclick="ShowResults()">Search</button>
    <div id="results"> </div>
  </div>
</div>



{{> page-zoom}}

<div id="chaperId" style="display: none;">{{id}}</div>
<script src="js/search_index.js"></script>
<script src="js/elasticlunr.min.js"></script>
<script type="text/javascript">
  // load the index
  var index = elasticlunr.Index.load(indexDump);






function ShowResults() {

  //var urlParams = new URLSearchParams(window.location.search);
  var output = 'Vul zoekwoord in';
  // if (urlParams.has('q')) {
  //
  //   output = 'Gezocht op: '+urlParams.get('q');
  //
  // }
  output = output+'<br><br>'+getResultsData()

  document.getElementById('results').innerHTML = output;
}

function getResultsData() {
  var searchField = document.getElementById("searchTerm").value;
  let results = index.search(searchField);

  var resultList='';
  var arrayLength = results.length;
  for (var i = 0; i < arrayLength; i++) {
    resultList = resultList+'<li>Deel '+results[i].doc.part+' <a href="'+results[i].doc.ref+'">'+results[i].doc.title+'</a></li>';
  }
  return '<ul>'+resultList+'<ul>';

}



</script>
