{{>html-head}}

<div class="mgSite mgSearch">


  <div class="mgContentPage">
    <h1>{{title}}</h1>
    <p></p>
    <div class="searchform">
      <input type="text" name="searchTerm"  id="searchTerm">
      <button type="button" name="button" onclick="ShowResults()">Zoeken</button>
      </div>
    <div id="results"> </div>
  </div>
  <div class="mgHeaderBgblue"></div>
  <div class="mgHeaderBg"></div>

  <div class="mgHeader">
    {{> page-header-new}}
  </div>



</div>

{{> popNavigation}}



<script src="js/search_index.js"></script>
<script src="js/elasticlunr.min.js"></script>
<script type="text/javascript">
  // load the index
  var index = elasticlunr.Index.load(indexDump);
  
</script>
{{> html-foot}}
