.mgHomeImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.mgHomeImage img{
  width: 66%;
  height: auto;
  transform: rotate(-45deg);
  margin-bottom: -33%;
}

.mgHomeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.mgLogo{
  margin-left: -117px;
  margin-bottom: 2rem;
}


.mgHomePart {
  padding-top: 5rem;
  margin-bottom: 1rem;

  h2 {
    font-size: 2rem;
  }
}

.mgChapterList {

}


.mgHomeChapter{
  //margin-bottom: 3rem;

  strong {
    br {display:none}
  }
}

a .mgHomeChapter{
  color: $colorTxt;
}



.mgHomeChapterImg{
  width: 5rem;
  height: auto;
  margin-left: -5.9rem;
  transform: translate(-3rem,4rem);
}

.mgHomeIntro .mgLogoElement{
  fill: $primColor;
}
