$margin: 3rem;
$negativeTop: 3rem;

$layOutColsBig: [left1] minmax(#{$margin}, auto) [c1] minmax(280px, 429px) [gutter] #{$margin} [c2] minmax(561px, 858px) [cEnd] minmax(#{$margin}, auto) [right1];
$layOutRowsBig:  [top1] 3rem [hero] 75vh [content] minmax(25vh, auto) [contentListEnd] auto [contendEnd] auto;


$layOutColsSmall: [left1] #{$margin} [c1] auto [cEnd] #{$margin} [right1];
$layOutRowsSmall: [top1] 3rem [hero] 50vh [contentNav] auto [content] auto;

.mgSite{
  position: relative;
  display: flex;
  flex-direction: column;


  grid-template-columns: $layOutColsSmall;
  grid-template-rows: $layOutRowsSmall;
}

.mgSiteFixed{
  display: none;
}

.mgHeaderBg{
  grid-column-start: left1;
  grid-column-end: right1;
  grid-row-start: top1;
  grid-row-end: hero;
}

.mgHeader{
  position: absolute;
  top: 0;
  right: 0;
  grid-column-start: c1;
  grid-column-end: cEnd;
  grid-row-start: top1;
  grid-row-end: hero;
}

.mgHero{
  grid-column-start: left1;
  grid-column-end: right1;
  grid-row-start: top1;
  grid-row-end: contentNav;
}



.mgContentList{
  grid-column-start: c1;
  grid-column-end: cEnd;
  grid-row-start: contentNav;
  grid-row-end: content;
}

.mgContent{
  grid-column-start: c1;
  grid-column-end: cEnd;
  grid-row-start: content;
}

.mgContentListBg{
  display: none;
}

.mgHeroImg {
  grid-column-start: cEnd;
  grid-column-end: right1;
  grid-row-start: hero;
  grid-row-end: contentNav;
}

.mgHeroInfo{
  grid-column-start: c1;
  grid-column-end: cEnd;
  grid-row-start: hero;
  grid-row-end:contentNav;
}

@media (min-width: 1000px) {
  .mgSite{
    position: relative;
    display: grid;
    grid-template-columns: $layOutColsBig;
    grid-template-rows: $layOutRowsBig;
    z-index: 100;
    //pointer-events: all;
  }

  .mgSiteFixed{
    position: fixed;
    display: grid;
    grid-template-columns: $layOutColsBig;
    grid-template-rows: [t] 100vh [b];
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    pointer-events: all;
    z-index: 0;
  }

  .mgIllustration {
    grid-column-start: c1;
    grid-column-end: gutter;
    grid-row-start: t;
    grid-row-end: b;
  }


  .mgHeaderBg{
    grid-column-start: left1;
    grid-column-end: right1;
    grid-row-start: top1;
    grid-row-end: hero;
  }

  .mgHeader{
    position: relative;
    grid-column-start: c1;
    grid-column-end: cEnd;
    grid-row-start: top1;
    grid-row-end: hero;
    pointer-events:all;
  }

  .mgHero{
    grid-column-start: left1;
    grid-column-end: right1;
    grid-row-start: top1;
    grid-row-end: content;
  }

  .mgHeroInfo{
    grid-column-start: c1;
    grid-column-end: c2;
    grid-row-start: hero;
    grid-row-end: content;
  }

  .mgHeroImg{
    grid-column-start: c2;
    grid-column-end: cEnd;
    grid-row-start: hero;
    grid-row-end: content;
  }

  .mgContentList{
    grid-column-start: c1;
    grid-column-end: gutter;
    grid-row-start: content;
    grid-row-end: contentListEnd;
    pointer-events:all;
  }


  .mgContent{
    grid-column-start: c2;
    grid-column-end: cEnd;
    grid-row-start: content;
    grid-row-end: contentEnd;
    pointer-events:all;

    //background-color: rgba(220, 180, 223, 0.32)
  }


  .mgContentListBg{
    grid-column-start: left1;
    grid-column-end: c2;
    grid-row-start: content;
    grid-row-end: contentListEnd;
    display: flex;
  }
}
