$wrapWidth: 1300px;
$textWidth: 600px;
$midGutter: 60px;
$imgWidth: $wrapWidth - $textWidth - $midGutter;
$marging: 3rem;
$bothMargin: $marging*2;

@media (min-width: 800px) {
  .mgSite{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mgWrapper{
    max-width: $wrapWidth;
    width: calc(100% - #{$bothMargin};
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

.mgFixed {
  position: fixed;
  min-height: 100vh;
  z-index:0;
  background-color: rgba(#ebfa3e, 0.22);
}

  .mgBar1{
    width: 33%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .mgBar2{
    width: 67%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .mgImageBar{
    width: $imgWidth;
    min-height: 100vh;
    margin-right: $midGutter;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .temp{
    width: calc(100% - 3rem);
    height: auto;
    //max-height: 80vh;
  }

  .mgText{
    max-width: $textWidth;
    padding-top: 5rem;

  }
}
