$layOutRowsBig2:  [top1] 3rem [hero] 60vh [content] minmax(50vh, auto) [contentListEnd] auto [contendEnd] auto;

.mgSite2{
  position: relative;
  display: grid;
  grid-template-columns: $layOutColsBig;
  grid-template-rows: $layOutRowsBig2;
}

.mgHero {
  grid-column-start: left1;
  grid-column-end: right1;
  grid-row-start: top1;
  grid-row-end: content;
}

.mgHomeIntro {
  grid-column-start: c2;
  grid-column-end: cEnd;
  grid-row-start: hero;
  grid-row-end: content;
}



.mgHomeImage {
  grid-column-start: c1;
  grid-column-end: gutter;
  grid-row-start: hero;
  grid-row-end: content;
}


.mgChapterList {
  grid-column-start: c2;
  grid-column-end: cEnd;
  grid-row-start: content;
  grid-row-end: contentEnd;
}
