

    <div class="mgHomePart">
      <strong>Deel 1</strong>
      <h2>Opkomst van de rivier- en zeehandel</h2>
      <span>1100 - 1600</span>
    </div>
















      <a href="maritieme-cultuur-middeleeuwen-1100-1600.html">
        <div class="mgHomeChapter">
           <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">6 <strong>Maritieme cultuur| in de middeleeuwen</strong> <br><em>Remmelt Daalder</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar Maritieme cultuur| in de middeleeuwen</em>
        </div>
      </a>


    <div class="mgHomePart">
      <strong>Deel 2</strong>
      <h2>De vaart in en buiten Europa</h2>
      <span>1700 - 1800</span>
    </div>



















      <a href="wereld-op-zee.html">
        <div class="mgHomeChapter">
           <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">7 <strong>De wereld op zee| de maritieme cultuur van de Gouden Eeuw</strong> <br><em>Michiel van Groesen</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar De wereld op zee| de maritieme cultuur van de Gouden Eeuw</em>
        </div>
      </a>





    <div class="mgHomePart">
      <strong>Deel 3</strong>
      <h2>Tijd van de grote zeilvaart</h2>
      <span>1780 tot circa 1870</span>
    </div>



















      <a href="maritieme-cultuur-negentiende-eeuw.html">
        <div class="mgHomeChapter">
           <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">7 <strong>Maritieme cultuur| in de negentiende eeuw</strong> <br><em>Remmelt Daalder</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar Maritieme cultuur| in de negentiende eeuw</em>
        </div>
      </a>


    <div class="mgHomePart">
      <strong>Deel 4</strong>
      <h2>Mechanisering en schaalvergroting</h2>
      <span>circa 1870 tot begin 21e eeuw</span>
    </div>






















      <a href="maritieme-cultuuruitingen.html">
        <div class="mgHomeChapter">
           <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">8 <strong>Bakens uit het veilige verleden| Maritieme cultuuruitingen in de ‘eeuw van uitersten’, een bloemlezing</strong> <br><em>Sara Keijzer</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar Bakens uit het veilige verleden| Maritieme cultuuruitingen in de ‘eeuw van uitersten’, een bloemlezing</em>
        </div>
      </a>









