    <div class="mgHomePart">
      <strong>Deel 1</strong>
      <h2>Opkomst van de rivier- en zeehandel </h2>
      <span class="notStrong">1100 - 1600</span><br>

      <em>Redactie: Christiaan van Bochove, Henk Dessens, Anita van Dissel, Henk den Heijer en Peter Sigmond</em><br>
      <span>ISBN: 9789052162003</span>
    </div>


      <a href="land-het-water-de-binnenvaart.html" alt="Ga naar Het land, het water en de binnenvaart">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d1h2.png" class="mgHomeChapterImg">2 <strong>Het land, het water en de binnenvaart</strong> <br><em>Thijs J. Maarleveld ✝</em><br>
          In geen land ter wereld was vervoer over water belangrijker voor de ontwikkeling dan in Nederland. Varen was er een landschappelijke noodzaak, al vanaf de eerste bewoning van de delta, het veenlandschap en het zeekleigebied. In de middeleeuwen kwam de binnenvaart tot grote ontwikkeling, zowel op lokaal niveau als op de lange afstand. De opkomst van de steden bracht bovendien een geregeld onderling verkeer tot stand. Tot nog toe verwaarloosd in de geschiedschrijving komt de binnenvaart in beeld door landschapsontwikkeling, historische geografie en archeologie te combineren met ontginnings- en waterstaatsgeschiedenis. Binnenvaart vormt daarmee de basis van de maritieme geschiedenis.
<br>
          <em>Ga naar Het land, het water en de binnenvaart</em>
        </article>
      </a>


      <a href="geweld-oorlogvoering-ter-zee-1018-1568.html" alt="Ga naar Geweld en oorlogvoering ter zee, 1018-1568">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d1h4.png" class="mgHomeChapterImg">4 <strong>Geweld en oorlogvoering ter zee, 1018-1568</strong> <br><em>Louis Sicking en Ronald de Graaf</em><br>
          In de middeleeuwen was geweld op de zeeën rondom Europa endemisch. Piraterij was de norm. Scheepvaart en geweld gingen hand in hand. In de Lage Landen was het niet anders. Vanaf de vorming van de kustgraafschappen tot aan de Nederlandse Opstand waren handel, zeeroof en maritieme oorlogvoering onlosmakelijk met elkaar verbonden. In de middeleeuwse Nederlanden kwamen de admiraliteit, de vlootorganisatie, het bouwen en uitrusten van oorlogsschepen, maritieme tactieken en strategische functies van de marine tot ontwikkeling. Wie de opkomst van de Nederlandse Republiek als zeemogendheid wil begrijpen ontkomt er niet aan verder terug te kijken dan de watergeuzen.<br>
          <em>Ga naar Geweld en oorlogvoering ter zee, 1018-1568</em>
        </article>
      </a>


      <a href="maritieme-cultuur-middeleeuwen-1100-1600.html" alt="Ga naar Maritieme cultuur± in de middeleeuwen">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d1h6.png" class="mgHomeChapterImg">6 <strong>Maritieme cultuur± in de middeleeuwen</strong> <br><em>Remmelt Daalder</em><br>
          In de middeleeuwen had de zee uiteenlopende betekenissen: een bedreigende ruimte, vol monsters. Maar scheepvaart stond ook voor rijkdom, macht en moed. Verhalen en afbeeldingen tonen het schip als metafoor voor een groep mensen, zoals het narrenschip, een vaartuig vol zondaars.<br>
          <em>Ga naar Maritieme cultuur± in de middeleeuwen</em>
        </article>
      </a>
    <div class="mgHomePart">
      <strong>Deel 2</strong>
      <h2>De vaart in en buiten Europa </h2>
      <span class="notStrong">1600 - 1780</span><br>

      <em>Redactie: Els M. Jacobs, Christiaan van Bochove, Henk Dessens, Anita van Dissel, Henk den Heijer en Peter Sigmond</em><br>
      <span>ISBN: 9789052162010</span>
    </div>




      <a href="nederlandse-zeemacht-1568-1780.html" alt="Ga naar Een veelkoppig monster:± De Nederlandse zeemacht, 1568-1780">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d2h4.png" class="mgHomeChapterImg">4 <strong>Een veelkoppig monster:± De Nederlandse zeemacht, 1568-1780</strong> <br><em>Victor Enthoven, Marc van Alphen en Remmelt Daalder</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar Een veelkoppig monster:± De Nederlandse zeemacht, 1568-1780</em>
        </article>
      </a>


      <a href="binnenvaart-zeventiende-achttiende-eeuw-innovatie-marktintegratie.html" alt="Ga naar Binnenvaart in de zeventiende en achttiende eeuw:± Innovatie en marktintegratie">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d2h6.png" class="mgHomeChapterImg">6 <strong>Binnenvaart in de zeventiende en achttiende eeuw:± Innovatie en marktintegratie</strong> <br><em>André van Holk</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar Binnenvaart in de zeventiende en achttiende eeuw:± Innovatie en marktintegratie</em>
        </article>
      </a>

      <a href="wereld-op-zee.html" alt="Ga naar De wereld op zee:± De maritieme cultuur van de Gouden Eeuw">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d2h7.png" class="mgHomeChapterImg">7 <strong>De wereld op zee:± De maritieme cultuur van de Gouden Eeuw</strong> <br><em>Michiel van Groesen</em><br>
          In de vroegmoderne tijd bevoeren schepen uit de Nederlandse Republiek de wereldzeeën. Reizigers, kunstenaars en cartografen construeerden een canoniek zelfbeeld dat een belangrijk onderdeel werd van de nationale identiteit, en een wereldbeeld dat ook internationaal herkenbaarheid genoot. Soms liepen daarin feit en fictie naadloos in elkaar over.<br>
          <em>Ga naar De wereld op zee:± De maritieme cultuur van de Gouden Eeuw</em>
        </article>
      </a>

    <div class="mgHomePart">
      <strong>Deel 3</strong>
      <h2>Tijd van de grote zeilvaart </h2>
      <span class="notStrong">1780 - 1870</span><br>

      <em>Redactie: Anita van Dissel, Christiaan van Bochove, Henk Dessens, Henk den Heijer, Els M. Jacobs en Peter Sigmond</em><br>
      <span>ISBN: 9789052162027</span>
    </div>


      <a href="koopvaardij-binnen-europa-1780-1870.html" alt="Ga naar De koopvaardij binnen Europa, 1780-1870">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d3h2.png" class="mgHomeChapterImg">2 <strong>De koopvaardij binnen Europa, 1780-1870</strong> <br><em>Jan Willem Veluwenkamp</em><br>
          Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
          <em>Ga naar De koopvaardij binnen Europa, 1780-1870</em>
        </article>
      </a>




      <a href="binnenvaart-negentiende-eeuw.html" alt="Ga naar Aarzelende modernisering:± Binnenvaart in de negentiende eeuw">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d3h6.png" class="mgHomeChapterImg">6 <strong>Aarzelende modernisering:± Binnenvaart in de negentiende eeuw</strong> <br><em>Ruud Filarski</em><br>
          In de negentiende eeuw veranderde de binnenvaart van karakter, zonder dat het traditionele, ambachtelijke vervoer met zeilschepen en trekschuiten geheel verdween. De belangrijkste aandachtspunten in dit hoofdstuk zijn de opkomst van de stoom- en de sleepvaart, de invloed van de stoomvaartdiensten op de reismogelijkheden, de concurrentie van de binnenvaart met de spoorwegen en het wegvervoer, de opkomst van de Rijnvaart, de ontwikkeling van het binnenlands vervoer, de organisatie van de vervoersdiensten, de opkomst van de eerste grote binnenvaartondernemingen, de verbetering van het vaarwegennet, de samenstelling van de vloot en de overgang van houten naar ijzeren vaartuigen. Het hoofdstuk eindigt in 1880, kort voordat het veranderingsproces zijn hoogtepunt zou bereiken.  <br>
          <em>Ga naar Aarzelende modernisering:± Binnenvaart in de negentiende eeuw</em>
        </article>
      </a>

      <a href="maritieme-cultuur-negentiende-eeuw.html" alt="Ga naar Maritieme cultuur± in de negentiende eeuw">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d3h7.png" class="mgHomeChapterImg">7 <strong>Maritieme cultuur± in de negentiende eeuw</strong> <br><em>Remmelt Daalder</em><br>
          In het nationalisme van de negentiende eeuw speelde het maritieme verleden een grote rol. Schilders, schrijvers en beeldhouwers, maar ook historici lieten zich inspireren door de daden van zeehelden uit de Gouden Eeuw, zoals Michiel de Ruyter.<br>
          <em>Ga naar Maritieme cultuur± in de negentiende eeuw</em>
        </article>
      </a>
    <div class="mgHomePart">
      <strong>Deel 4</strong>
      <h2>Mechanisering en schaalvergroting </h2>
      <span class="notStrong">1870 - 2020</span><br>

      <em>Redactie: Wouter Heijveld, Anita van Dissel, Christiaan van Bochove, Henk Dessens, Henk den Heijer, Els M. Jacobs en Peter Sigmond</em><br>
      <span>ISBN: 9789052162034</span>
    </div>








      <a href="maritieme-cultuuruitingen.html" alt="Ga naar Bakens uit het veilige verleden:± Maritieme cultuuruitingen± in de ‘eeuw van uitersten’">
        <article class="mgHomeChapter">
           <img alt="" src="images/chapterImages/d4h8.png" class="mgHomeChapterImg">8 <strong>Bakens uit het veilige verleden:± Maritieme cultuuruitingen± in de ‘eeuw van uitersten’</strong> <br><em>Sara Keijzer</em><br>
          In de twintigste eeuw veranderde de Nederlandse samenleving ingrijpend. De ‘eeuw van uitersten’ bracht grote omwentelingen en massabewegingen die het eigene onder druk zetten. In perioden van onzekerheid kon de eeuwenoude binding van Nederland met het water houvast bieden. Maritieme cultuuruitingen herbergden een idee van continuïteit en fungeerden als solide constanten tussen een veilig verleden en een ongewis verschiet.<br>
          <em>Ga naar Bakens uit het veilige verleden:± Maritieme cultuuruitingen± in de ‘eeuw van uitersten’</em>
        </article>
      </a>



