  <div class="mgHomePart">
    <strong>Deel 1 <em><br>
    Opkomst van de rivier- en zeehandel</em></strong>
    <span>1100 - 1600</span><br>
  </div>


  <div  class="mgHomeChapter">
     1 <strong>Maritieme cultuur| in de middeleeuwen</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     1 <strong>Inleiding</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     2 <strong>Binnenvaart</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     3 <strong>Koopvaardij</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     4 <strong>Visserij</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     5 <strong>Cultuurhistorisch katern</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     6 <strong>Maritieme cultuur| in de middeleeuwen</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>

  <div class="mgHomePart">
    <strong>Deel 2 <em><br>
    De vaart in en buiten Europa</em></strong>
    <span>1700 - 1800</span><br>
  </div>


  <div  class="mgHomeChapter">
     1 <strong>Inleiding</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     2 <strong>Koopvaardij binnen Europa</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     3 <strong>Koopvaardij buiten Europa</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     4 <strong>Marine</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     5 <strong>Visserij</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     6 <strong>Binnenvaart</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     7 <strong>Cultuurhistorisch katern</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>

  <div class="mgHomePart">
    <strong>Deel 3 <em><br>
    Tijd van de grote zeilvaart</em></strong>
    <span>1780 tot circa 1870</span><br>
  </div>


  <div  class="mgHomeChapter">
     1 <strong>Inleiding</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     2 <strong>Koopvaardij binnen Europa</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     3 <strong>Koopvaardij buiten Europa</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     4 <strong>Cultuurhistorisch katern</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     5 <strong>Visserij</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     6 <strong>Binnenvaart</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     7 <strong>Maritieme cultuur| in de negentiende eeuw</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>

  <div class="mgHomePart">
    <strong>Deel 4 <em><br>
    Mechanisering en schaalvergroting</em></strong>
    <span>circa 1870 tot begin 21e eeuw</span><br>
  </div>


  <div  class="mgHomeChapter">
     1 <strong>Inleiding</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     2 <strong>Koopvaardij binnen Europa</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     3 <strong>Koopvaardij buiten Europa</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     4 <strong>Marine</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     5 <strong>Visserij</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     6 <strong>Binnenvaart</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     7 <strong>Cultuurhistorisch katern</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
      <strong>Over de NMGN</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
      <strong>Zoeken</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
     1 <strong>Maritieme cultuur| in de middeleeuwen</strong><br>
     <img src="images/chapterImages/chapterImageTest.png" class="mgHomeChapterImg">
    Maritieme geschiedenis gaat traditioneel over schepen, hun lading en de mensen op die schepen, over de routes over water en de voorzieningen voor de schepen of over de conflicten die op het water werden beslecht. Kortom, scheepvaarthistorici zijn voornamelijk geïnteresseerd in de concrete kanten van het maritieme bedrijf.<br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>



  <div  class="mgHomeChapter">
      <strong>homepage</strong><br>
     <img src="images/chapterImages/" class="mgHomeChapterImg">
    <br>
     <br>
    <a href="index.html">Ga naar dit hoofdstuk</a>
  </div>

