</div>
</div>

<footer class="footer">
  <div class="footerContent">
    <div><em>Nieuwe</em> <br>
      <strong>Maritieme Geschiedenis</strong>
      <br>van <strong>Nederland</strong></div>
      {{#if homelist}}
      <div>
        <strong>Deel {{part}}</strong>
        <br><em>{{parttitle}}</em><br>
        {{aera}}<br>
        ISBN: {{partisbn}}<br>
      </div>
      <div>
        <strong>Hoofdstuk {{chapter}}</strong> <br>
        <em>{{title}}</em> <br>
        Door <strong>{{author}}</strong><br>
        Doi: {{doi}}
      </div>
        {{else}}
        <div></div>
        <div></div>
        {{/if}}

  </div>
</footer>
